<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>{{'user.table.header.username' | translate}}</th>
				<th>{{'user.table.header.role' | translate}}</th>
				<th>{{'user.table.header.status' | translate}}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="u in data.users track by $index">
				<td>{{ $index + 1 }}</td>
				<td>{{ u.userName }}</td>
				<td>{{ u.roles[0].name }}</td>
				<td>
					<i class="fa fa-check-circle fa-lg user-status-enabled-icon" ng-show="u.enabled"></i>
					<i class="fa  fa-minus-circle fa-lg user-status-disabled-icon" ng-hide="u.enabled"></i>
				</td>
				<td>
					<i class="fa fa-times fa-lg user-action-icon" ng-click="deleteUser(u.id)"></i>&emsp;
					<i class="fa fa-edit fa-lg user-action-icon" ng-click="editUser(u)"></i>
				</td>
			</tr>
		</tbody>
	</table>
</div>
